<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" >
  <h1 class="display-4">Architecture App Store</h1>
  <p class="lead">Search for the most recommended and compliant architectures on AWS</p>
</div>


<div class="main" *ngIf="!show" >
  <div class="input-group">
    <ng-template #rt let-r="result" let-t="term">
      <ngb-highlight [result]="r.architecture" [term]="t"></ngb-highlight>
    </ng-template>
    <input placeholder="Search" id="typeahead-template" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"
      [resultTemplate]="rt" [inputFormatter]="formatter" (selectItem)="itemSelected($event.item)" />
    <div class="input-group-append">
      <button class="btn btn-secondary" type="button">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <p class="mt-4 text-center"><a href="">Search</a></p>
</div>
<section class="section pt-0 position-relative pull-top" *ngIf="!show">
  <div class="container">
    <div class="rounded shadow p-5 bg-white">
      <div class="row">
        <div class="col-md-4 mb-4 mb-md-0 text-center">
          <i class="ti-paint-bucket text-primary h1"></i>
          <h3 class="mt-4 text-capitalize h5 ">Search</h3>
          <p class="regular text-muted">Search for highly secure, performant architectures that AWS can spin up in a matter of seconds.</p>
        </div>
        <div class="col-md-4 mb-4 mb-md-0 text-center">
          <i class="ti-shine text-primary h1"></i>
          <h3 class="mt-4 text-capitalize h5 ">Review</h3>
          <p class="regular text-muted">Review and make customizations on top of the architecture recommended</p>
        </div>
        <div class="col-md-4 mb-4 mb-md-0 text-center">
          <i class="ti-thought text-primary h1"></i>
          <h3 class="mt-4 text-capitalize h5 ">Build</h3>
          <p class="regular text-muted">Create architecture using the generated cloudformation templates.</p>
        </div>
      </div>
    </div>
  </div>
</section>
  <div class="container" *ngFor="let appService of appServices">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">     {{ appService.type }}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">     {{ appService.type }} <small class="text-muted"></small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 users included</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Create Template</button>
        </div>
      </div>
    </div>
  </div>